<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Micros - 7</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
	<key>Micros - 6</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
	<key>Micros - 5</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
	<key>Micros - 4</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
	<key>Micros - 3</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
	<key>Micros - 2</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
	<key>Micros</key>
	<dict>
		<key>Reply</key>
		<dict>
			<key>PhotoURL</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>Sender</key>
			<string></string>
		</dict>
		<key>Sender</key>
		<string></string>
		<key>PhotoURL</key>
		<string></string>
		<key>Coordinate</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>Titre</key>
		<string></string>
	</dict>
</dict>
</plist>
