<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeekList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>geeklist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEF99A8C1746E14400DC0598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF99AB51746E14500DC0598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E0A2E51746D0DC00059C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E0A30E1746D0DC00059C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
